######################################################################
######################################################################
#  Copyright Tsung-Hsien Wen, Cambridge Dialogue Systems Group, 2016 #
######################################################################
######################################################################
[knn]
debug       = True
random_seed = 1
domain      = restaurant
train       = semo/RNNLG/data/original/restaurant/train.json
valid       = semo/RNNLG/data/original/restaurant/valid.json
test        = semo/RNNLG/data/original/restaurant/test.json
vocab       = semo/RNNLG/resource/vocab
percentage  = 100
topk        = 5
detectpairs = semo/RNNLG/resource/detect.pair
verbose     = 1
